{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": false
        }
      }
    ],
    "@babel/preset-typescript",
    "@babel/preset-react"
  ],

  "plugins": ["@babel/plugin-syntax-dynamic-import"],

  "env": {
    "development": {
      "plugins": ["react-refresh/babel"]
    }
  }
}
